<h1>Edit <%= foundAlbum.name %>'s Song</h1>
<h4>Edit Song</h4>
<form
  action="/albums/<%= foundAlbum.id %>/songs/<%= foundSong.id %>?_method=PUT"
  method="POST"
>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="<%= foundSong.title %>"
    />
  </div>
  <div class="form-group">
    <label for="artist">Artist</label>
    <input type="artist" class="form-control" id="artist" name="artist" value="<%= foundSong.artist %>"/>
  </div>    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>