<h1><%= album.name %>'s Detail Page</h1>
<h4>Create a New Photo</h4>
<form action="/albums/<%= album.id %>/songs" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
    />
  </div>
  <div class="form-group">
    <label for="artist">Artist</label>
    <input type="artist" class="form-control" id="artist" name="artist" />
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1>Songs</h1>

<ul>
  <% album.songs.forEach(song => { %>
    <li>
        <a href="/albums/<%= album.id %>/songs/<%= song.id %>/edit"><%= song.title %></a>
        <form
          action="/albums/<%= album.id %>/songs/<%= song.id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          
        </form>
    </li>
  <% }) %>
</ul>
